@font-face {
  font-family: 'gilroy';
  src: url('/Fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
    font-weight: 500;
}
html,body{
    height: 100%;
    width: 100%;
}
html {
    scroll-behavior: smooth;
}
#main{
    height: 100%;
    width: 100%;
}
#nav{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 30px;
}
#nav h3{
    background-color: black;
    color: white;
    padding: 10px 18px;
    margin-left: 5px;
    font-size: 15px;
    border-radius: 50px;
}
#intro{
    height: 45%;
    width: 100%;
    padding: 40px 50px;
}
#intro h1{
    font-size: 120px;
    letter-spacing: -3px;
    line-height: 120px;
}
#place{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}
#place h3,h4{
    font-size: 22px;
    font-weight: 500;
}
#nature-img{
    height: 90%;
    width: 100%;
    background-image: url(Sunset-Lake.jpg);
    background-size: cover;
    background-position: bottom;
}
#about{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 60px;
}
#about h2{
    width: 60%;
    font-size: 72px;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 72px;
}
#about2{
    width: 35%;
    height: 100%;
    padding: 0 60px;
    border-left: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#about2 h3{
    font-size: 32px;
    font-weight: 500;
}
#icons i {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 25px;
    margin-right: 10px;
}
#icons i:hover {
    background-color: white;
    color: rgb(61, 141, 194);
    transition: 0.3s ease;
}
#work{
    height: 55%;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    padding: 50px 60px;

}
#work1{
    width: 35%;
    height: 100%;
    border-right: 2px solid black;
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
#work h3{
    font-size: 23px;
    font-weight: 500;
}
#work i{
    font-size: 30px;
}
#work2{
    width: 65%;
    height: 100%;
    padding: 0px 50px;
}
.work2-part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.work2-part:nth-child(1){
    border-bottom: 2px solid black;
    padding-top: 0px;
}
.work2-part .element{
    width: 50%;
    height: 100%;
}
.work2-part .element:nth-child(1){
    border-right: 2px solid black;
    padding-right: 50px;
}
.work2-part .element:nth-child(2){
    padding-left: 60px;
}
.work2-part .element h4{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 500;
}
.work2-part .element p{
    font-size: 20px;
    color: rgb(58, 58, 58);
}
