@font-face {
  font-family: 'gilroy';
  src: url('/Fonts/gilroy/Gilroy-Regular.ttf') format('truetype');

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilroy';
}

html,body{
    height: 100%;
    width: 100%;
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}
#card{
    height: 450px;
    width: 300px;
    border-radius: 10px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}
#card img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
#card h1{
    font-size: 20px;
    margin: 5px 0;
}
#card h5{
    font-size: 20px;
    color: rgb(157, 19, 19);
    margin: 10px;

}
#card button{
    background-color: cadetblue;
    color: #fff;
    font-weight: 500px;
    padding:10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
