@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@font-face {
  font-family: 'Pp Neue Machina';
  src: url('/Fonts/pp_neue/PPNeueMachina-Light.otf') format('opentype'),
       url('/Fonts/pp_neue/PPNeueMachina-Regular.otf') format('opentype'),
       url('/Fonts/pp_neue/PPNeueMachina-Ultrabold.otf') format('opentype');
}

:root{
    --salmon: #EF9D71;
    --black: #000;
    --white: #fff;
    --cyan: #AEDEE0;
    --dsalmon: #361a17;
    --dcyan: #15272b;
}
body{
    transition: background-color ease-out 1s;
}

.vdodiv{
    clip-path: circle(var(--clip) at 50% 50%);
}

*::selection{
    background-color: var(--salmon);
    color: var(--dsalmon);
}

body[theme="black"]{
    background-color: var(--black)
}

body[theme="black"] .section{
    color: var(--white)
}

body[theme="cyan"]{
    background-color: var(--cyan)
}

body[theme="cyan"] .section{
    color: var(--dcyan)
}

body[theme="salmon"]{
    background-color: var(--salmon)
}

body[theme="salmon"] .section{
    color: var(--dsalmon)
}

body[theme="white"]{
    background-color: var(--white)
}

body[theme="white"] .section{
    color: var(--black)
}
.purpose-box {
    transform-origin: center;
    will-change: transform, opacity;
}